.DS_Store
._.DS_Store
.$*.drawio.bkp
~$*.docx

**/.DS_Store
**/._.DS_Store
**/.$*.drawio.bkp
**/~$*.docx

**/myenv/
**/venv/

**/projectRG/projectRG.gen/
**/projectRG/projectRG.runs/
**/projectRG/projectRG.cache/

**/projectRG/*.str
**/projectRG/*.jou
**/projectRG/*.log
