.DS_Store
._.DS_Store
.$*.drawio.bkp
~$*.docx

**/.DS_Store
**/._.DS_Store
**/.$*.drawio.bkp
**/~$*.docx

**/myenv/
**/venv/

/final/Final_Project/projectRG/projectRG.gen/
/final/Final_Project/projectRG/projectRG.runs/
/final/Final_Project/projectRG/projectRG.cache/

/final/Final_Project/projectRG/*.str
/final/Final_Project/projectRG/*.jou
/final/Final_Project/projectRG/*.log
