.DS_Store
._.DS_Store
.$*.drawio.bkp
~$*.docx

**/.DS_Store
**/._.DS_Store
**/.$*.drawio.bkp
**/~$*.docx

**/myenv/
**/venv/

/final/Final\ Project/projectRG/projectRG.runs/
/final/Final\ Project/projectRG/projectRG.cache/
/final/Final\ Project/projectRG/projectRG.gen/
final/Final Project/projectRG/vivado_pid27112.str
final/Final Project/projectRG/vivado.jou
final/Final Project/projectRG/vivado.log
